[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.11"
psycopg2-binary = "*"
pillow = "*"
graphene = "*"
graphene-django = "*"

[dev-packages]

[requires]
python_version = "3.10"
