[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
pyscopg2 = "*"
psycopg2-binary = "*"
python-decouple = "*"
graphene = "*"
graphene-django = "*"

[dev-packages]

[requires]
python_version = "3.9"
